/* ------------------------------------------------------ */
/* ----------------------- MOBILE ----------------------- */
/* ------------------------------------------------------ */

@media screen and (max-width: 600px) {
  html {
    font-size:30px;
  }
  body {
    margin:0;
  }
  main, footer {
    width:100%;
  }

  /* TRANSFORM HEADER FOR BURGER */
  header .large {
    display:none;
  }

  header .small {
      width:100vw;
      display:block;
    }

    header .small .top {
      position:fixed;
      height:40px;
      width:100%;
      left:0;
      z-index:102;
      top:0;
      background:#fff;
      box-shadow: 0px 2px 3px rgba(0,0,0, 0.6);
      display:flex;
      flex-direction: row;
    }

    header .small .titleNav {
      left:10px;
      top:0px;
      position:relative;
    }
    header .small .titleNav h3 {
      color:var(--blue);
      margin-top:5px;
      text-align:left;
    }

    header .small .top .burgerMenu {
      margin-right:50px;
      padding:auto;
      display:inline-block;
    }

    header .small .burgerMenu i {
      font-size:2rem;
      color:#000;
    }

    a.burgerMenu:hover {
      background:var(--blue);
      cursor:pointer;
    }


  /* LE MENU ISSU DU BURGER */
  header .small nav {
    position:fixed;
    display:flex;
    z-index:99;
    background:#fff;
    align-items: center;
    top:40px;
    left:0px;
    width:100vw;
    min-height:calc(100vh - 40px);
    height:calc(100vh - 40px);
    transition:all 0.5s linear;
    margin-left:110vw;
  }
  header .small nav ul {
    margin:0;
    padding:0;
    margin-left:25%;
    background:none;
  }
  header .small nav h3 {
    position:absolute;
    top:0px;
    left:10px;
    color:var(--blue);
    font-family: "Lobster";

  }

  header .small nav li {
    text-align:left;
    position: relative;
    padding:0;
    background:none;

  }

  header .small nav li a {
    padding:20px 0px;
    font-size:1.5rem;
  }
  header .small nav li a i {
    padding:0px;
    font-size:1.5rem;
  }
  header .small nav li a:hover {
    color:#999;
    padding:20px 0px;
    font-size:1.2rem;
  }
  header .small nav li a:hover i {
    color:#999;
    padding:0;
    font-size:1.2rem;
  }

  a.closeMenu {
    position:absolute;
    top:20px;
    right:20px;
    color:#999;
  }


  li#item-1, li#item-2, li#item-3,li#item-4, li#item-5 {
    animation: none;
  }

  .bottomNav {
    display:block;
    position:absolute;
    bottom:30%;
    width:100%;
    font-size:1500%;
    color:var(--blue);
    opacity: 0.1;
    text-align:center;
    font-family: Lobster;
  }
  .bottomNav .othersLetters {
    display:none;
  }

  /* ADAPT SECTIONS */
  section {
    width:96%;
    margin-left:2%;
    min-height:100vh;
  }

  section h2 {
    font-size:2.2rem;
  }

  .container-row {
    flex-direction:column;
  }

  .container {
    display:flex;
    width:98%;
    margin-left:1%;
    min-height:100%;
    height:100%;
  }

  /*------------------------ CARDS TARIFS (MOBILE) ---------------- */

  /* hide prices description */
  .line_break {
    display: none;
  }

  .info_pass {
    display: none;
  }

  /* shrink prix_pass */
  .prix_pass {
    font-size: 4rem;
    line-height: normal;
    margin: -0.2em 0;
  }

  /* shrink top margin .titre_pass */
  .titre_pass {
    margin: 0 0 12px 0;
  }

  /* remove hover on card */
  .price_card:hover{
    box-shadow: none;
    border: 1px solid var(--lightmoss);
  }

  /* remove hover on button */
  .buy_button {
    padding: 12px 80px;
    background: var(--moss);
    color: white;
  }


  /* ----------------------- SPECIFICITE TRAJETS ET HORAIRES ------ */

  .card-long {
    flex-direction: column;
  }

  .card-long h3 {
    text-align:center;
    font-size:1.5rem;
  }

  .card-long-left {
    width:95%;
  }
  .stopList {
    margin-left:30%;
  }
  .card-long-center {
    width:95%;
  }
  .card-long-right {
    width:95%;
  }

  /* ----------------> ALERTES <------------------- */
  .alertLine {
    width:calc(100% - 20px);
    margin-top:40px;
    font-size:0.9rem;
    padding:10px;
    text-align:center;
    background-color: var(--red);
  }

  .alertLine .titleAlert {
    font-size:1.5em;
    font-weight: bold;
    color:rgba(0,0,0,0.7);
    margin:0;
  }

  .alertLine p {
    font-weight: 400;
    color:white;
    font-size:1.2rem;
  }

  /* RESPONSIVE MOBILE FORM RESERVATIONS */

  #reservations .select{
    width: 90%;
    margin-left: 32px;
  }



  /* RESPONSIVE MOBILE FORM CONTACTS */

  .container-contacts{
    display: flex;
    flex-direction: column;
  }

  .container-contacts .container{
    margin-left: 0;
  }


  /* RESPONSIVE MOBILE FOOTER */

  footer div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  footer div:last-child{
    padding-bottom: 20px;
  }

  footer .container-content-list{
    width: 100%;
    margin-left: 0;
  }

  footer .container-content-list ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    line-height: 40px;
  }

  footer .container-content-list li{
    border-left: none;
    width: 100%!important;
    text-align: center;
  }

  footer .container-content-list a:hover{
    text-decoration: none;
    color: grey;
  }


}
