@import "animations.css";

/*------------GLOBAL CSS-------------*/
html {
  max-width:100vw;
  overflow-x: hidden;
}
body {
  width:100%;
  font-family: Roboto;
  font-size:1.1em;
  --blue : #00bcd4;
  --orange : #f57c00;
  --green : #8bc34a;
  --pink : #e91e63;
  --red :  #f44336;
  --yellow : #ffc107;
}

.blue-text {
  color:var(--blue);
}
.orange-text {
  color:var(--orange);
}
.green-text {
  color:var(--green);
}
.pink-text {
  color:var(--pink);
}
.red-text {
  color:var(--red);
}
.yellow-text {
  color:var(--yellow);
}


.blue-bg {
  background-color:var(--blue);
}
.orange-bg {
  background-color:var(--orange);
}
.green-bg {
  background-color:var(--green);
}
.pink-bg {
  background-color:var(--pink);
}
.red-bg {
  background-color:var(--red);
}
.yellow-bg {
  background-color:var(--yellow);
}

main, footer {
  width:79%;
  left:0;
  top:0;
  overflow-x: hidden;
}

section {
  width:99%;
  min-height:100vh;
}

.container {
  display:flex;
  width:90%;
  margin-left:5%;
  min-height:100%;
  height:100%;
}

.container-column {
  flex-direction: column;
  position:relative;
}

.container-row {
  flex-direction: row;
  position:relative;
}

.button {
  display:inline-block;
  text-transform:uppercase;
  padding:12px 30px;
  border-radius:4px;
  color:#FFF;
  text-decoration:none;
  font-family: Roboto;
  font-weight: 500;
  font-size:0.8em;
}


section h2 {
  font-size:3em;
  font-weight: 500;
  text-align:center;
  font-family: "Lobster";
}




/*---------------HEADER-NAV---------------*/

header.small {
  display:none;
}

header.large {
  right:0;
  top:0;
  width:20%;
  height:100vh;
  position:fixed;
  display:flex;
  align-items: center;
  padding:0;
  box-shadow:-4px 0px 8px #ccc;
}

header .titleNav {
  position:absolute;
  top:0;
  width:100%;
  font-size:0.8em;
  margin-left:10px;
  animation:come_from_top 1s linear;
}

header .titleNav h3 {
  font-size:1.4em;
  font-family: 'Lobster';
  margin-bottom:0;
}

header.large nav, header.large nav ul {
  width:100%;
  padding:0px;
}

header.large ul li {
  list-style: none;
  padding:20px;
  width:100%;
  text-align: left;
  background: #fff;
  transition:background-color 0.2s linear;
  position:relative;
}
header.large ul li a i {
  display:inline-block;
  height:100%;
  line-height: 100%;
  vertical-align: middle;
  left:3px;
  top:0%;
  margin-left:-15px;
  margin-right:10px;
}

header.large ul li a {
  font-weight: 100;
  color:#888;
  text-decoration: none;
  transition:font-size 0.2s linear;
  font-size:1em;
}

li#item-1 {
  animation: come_from_right_1 1s linear;
}
li#item-2 {
  animation: come_from_right_2 1s linear;
}
li#item-3 {
  animation: come_from_right_3 1s linear;
}
li#item-4 {
  animation: come_from_right_4 1s linear;
}
li#item-5 {
  animation: come_from_right_5 1s linear;
}


li#item-1 a i {
  color:var(--blue);
}
li#item-2 a i  {
  color:var(--orange);
}
li#item-3 a i  {
  color:var(--green);
}
li#item-4 a i  {
  color:var(--yellow);
}
li#item-5 a i  {
  color:var(--red);
}





/* ----- > Hover */

header.large ul li:hover a, header.large ul li:hover a i {
  font-size: 1.2em;
  color:#fff !important;
}



li#item-1:hover {
  background-color:var(--blue);
}
li#item-2:hover {
  background-color:var(--orange);
}
li#item-3:hover {
  background-color:var(--green);
}
li#item-4:hover {
  background-color:var(--yellow);
}
li#item-5:hover {
  background-color:var(--red);
}






/*-------HOMEPAGE-SECTION 1 : GUILLAUME--------*/







/*-------PARCOURS-SECTION 2 : FRANCOIS-------*/


.card-long{
  width:100%;
  margin-left:2%;
  min-height:400px;
  box-shadow:5px 5px 8px #ccc;
  border:1px solid #ccc;
  margin-bottom:20px;
  display:flex;
  flex-direction: row;
}

.card-long-left {
  width:20%;
}
.card-long-center {
  width:40%;
}

.map {
  height:400px;
}
.card-long-right {
  width:40%;
}



/*-------TARIFS-SECTION 3 : THOMAS-------*/







/*-------RESERVATIONS-SECTION 4 : JOHANNA--------*/








/*-------CONTACTS-SECTION 5 : JOHANNA-------*/








/*---------------FOOTER---------------*/



/*---------------MEDIA QUERIES---------------*/


@media screen and (max-width: 800px) {

  header.large {
    display:none;
  }

  section {
    width:100%;
    min-height:100vh;
    height:100vh;
  }



}


@media screen and (max-width: 640px) {

  header.large {
    display:none;
  }

  section {
    width:100%;
    min-height:100vh;
    height:100vh;
  }

}
