@import "animations.css";

/*------------GLOBAL CSS-------------*/
html {
  width:100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size:17px;
}

body {
  width:100%;
  font-family: Roboto;
  font-weight:300;
  font-size:1rem;
  --blue : #00bcd4;
  --orange : #f57c00;
  --green : rgba(106,210,170,1);
  --moss : rgba(106,210,170,1);
  --darkmoss : rgba(57,146,110,1);
  --lightmoss : rgba(139,234,193,1);
  --pink : #e91e63;
  --red :  #f44336;
  --yellow : #ffc107;
}

.blue-text {
  color:var(--blue);
}
.orange-text {
  color:var(--orange);
}
.green-text {
  color:var(--green);
}
.pink-text {
  color:var(--pink);
}
.red-text {
  color:var(--red);
}
.yellow-text {
  color:var(--yellow);
}

.white-text {
  color:white;
}


.blue-bg {
  background-color:var(--blue);
}
.orange-bg {
  background-color:var(--orange);
}
.green-bg {
  background-color:var(--green);
}
.pink-bg {
  background-color:var(--pink);
}
.red-bg {
  background-color:var(--red);
}
.yellow-bg {
  background-color:var(--yellow);
}

main, footer {
  width:79%;
  left:0;
  top:0;
  overflow-x: hidden;
}

section {
  width:100%;
  min-height:100vh;
}

.container {
  display:flex;
  width:90%;
  margin-left:5%;
  min-height:100%;
  height:100%;
}

.container-column {
  flex-direction: column;
  position:relative;
}

.container-row {
  flex-direction: row;
  position:relative;
}

.button {
  display:inline-block;
  text-transform:uppercase;
  padding:12px 30px;
  border-radius:4px;
  color:#FFF;
  text-decoration:none;
  font-family: Roboto;
  font-weight: 500;
  font-size:0.8rem;
}


section h2 {
  font-size:3rem;
  text-align:center;
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 100;
  color:#999;
}

.center-align {
  text-align:center;
}

.right-align {
  text-align:right;
}
.left-align {
  text-align:left;
}

a.button-circle i {
  display:inline-block;
  width:40px;
  height:40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  color:#fff;
  border-radius:50%;
}

a.button-circle:hover i {
  box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}

.flex {
  display:flex;
}
/*---------------HEADER-NAV---------------*/

header .small {
  display:none;
}

header .large {
  right:0;
  top:0;
  width:20%;
  height:100vh;
  position:fixed;
  display:flex;
  align-items: center;
  padding:0;
  box-shadow:-4px 0px 8px #ccc;
  background:#fff;
}

header .titleNav {
  position:absolute;
  top:0;
  width:100%;
  font-size:0.8rem;
  margin-left:10px;
  animation:come_from_top 1s linear;
  text-align:center;
}

header .titleNav h3 {
  font-size:1.7rem;
  font-family: 'Lobster';
  margin-bottom:0;
  color:var(--blue);
}

header .large nav, header .large nav ul, header .small nav, header .small nav ul {
  width:100%;
  padding:0px;
}

header .large ul li, header .small ul li {
  list-style: none;
  width:100%;
  text-align: left;
  background: #fff;
  transition:all 0.2s linear;
  position:relative;
}

header .large ul li a i, header .small ul li a i {
  display:inline-block;
  height:100%;
  line-height: 100%;
  vertical-align: middle;
  left:3px;
  top:0%;
  margin-left:-15px;
  margin-right:10px;
  padding:20px;
}

header .large ul li a, header .small ul li a {
  font-weight: 100;
  color:#888;
  text-decoration: none;
  transition:font-size 0.2s linear;
  font-size:1rem;
  display:block;
  width:100%;
}

header .large ul li a:hover {
    cursor:pointer;
}


li#item-1 {
  animation: come_from_right_1 1s linear;
}
li#item-2 {
  animation: come_from_right_2 1s linear;
}
li#item-3 {
  animation: come_from_right_3 1s linear;
}
li#item-4 {
  animation: come_from_right_4 1s linear;
}
li#item-5 {
  animation: come_from_right_5 1s linear;
}


li#item-1 a i {
  color:var(--blue);
}
li#item-2 a i  {
  color:var(--orange);
}
li#item-3 a i  {
  color:var(--green);
}
li#item-4 a i  {
  color:var(--yellow);
}
li#item-5 a i  {
  color:var(--red);
}





/* ----- > Hover */

header .large ul li:hover a, header .large ul li:hover a i, header .small ul li:hover a, header .small ul li:hover a i {
  font-size: 1.2rem;
  color:#fff;
}

header .large ul li:hover a i {
  color:#fff !important;
}



li#item-1:hover {
  background-color:var(--blue);
}
li#item-2:hover {
  background-color:var(--orange);
}
li#item-3:hover {
  background-color:var(--green);
}
li#item-4:hover {
  background-color:var(--yellow);
}
li#item-5:hover {
  background-color:var(--red);
}






/*-------HOMEPAGE-SECTION 1 : GUILLAUME--------*/
h1 {
  font-size: 7rem;
  color: white;
  text-align: center;
  font-family: "Lobster";
}
p{
  font-size: 1rem;

}

section#homePage {
  background: url('http://bordeauxcanoe.com/wp-content/uploads/2014/10/100_0835.jpg') no-repeat center center;
background-size: cover;
}
.homepageSpecs{
  align-items: center;
  height: 100%;
}
.homepageSpecs p {

column-count: 2;
column-width: 50%;
  color: white;
width: 50%;
}






/*-------PARCOURS-SECTION 2 : FRANCOIS-------*/


.card-long {
  width:100%;
  min-height:400px;
  box-shadow:0px 5px 8px #ccc;
  border:1px solid #ccc;
  margin-bottom:40px;
  display:flex;
  flex-direction: row;
  background:#fff;
}

.card-long-left {
  width:20%;
  padding:10px;
}
.card-long-center {
  width:40%;
  padding:10px;
}
.card-long-right {
  width:40%;
  padding:10px;
}

.map {
  height:380px;
  z-index:98;
}


.card-long h3 {
  display:block;
  padding:10px;
}

.card-long h3 {
  display:block;
  padding:10px;
  text-transform: uppercase;
  font-size:0.9rem;
}

.card-long-1 h3 {
  color:var(--orange);
}
.card-long-2 h3 {
  color:var(--blue);
}
.card-long-3 h3 {
  color:var(--pink);
}

/* ---------------------> TIME TABLES */
.card-long table {
  width:100%;
  spacing:0;
  border-spacing : 0;
  border-collapse : collapse;
}

.card-long thead td:not(.normal) {
  font-size:0.8rem;
  font-weight: 500;
}


thead tr:last-child {
  height:35px;
  vertical-align: middle;
  font-size:0.9rem;
}
tr.tableHead td {
  position:relative;
}


tbody tr {
  border-top:1px solid #ccc;
  height:30px;
  font-size:0.8rem;
  color:#999;
  transition:all 0.3s linear;
}
tbody tr:hover {
  background:#eee;
  color:#999
}

.navTimes {
  color:#000;
  text-decoration:none;
  display:inline-block;
  line-height: 30px;
  vertical-align: middle;
  padding:0;
  margin:0;
}

.navTimes.disabled, .navTimes.disabled i {
  color:#ccc;
}
.navTimes:hover {
    text-decoration:underline;
}
.navTimes.disabled:hover {
    text-decoration:none;
}

.navTimes i {
  color:#000;
  line-height: 30px;
  vertical-align: middle;
  padding:0;
  margin:0;
}

.TableNavTimes tr {

}

.TableNavTimes tr:hover {
  background:none;
}



/* ---------------------> LEFT PART */
.stopList {
  border-left:2px solid #000;
  margin-left:20px;
  position:relative;
}

.stopList::before {
  position:absolute;
  display:block;
  content:' ';
  width:10px;
  height:10px;
  top:0;
  left:0;
  background: url('../images/arrow_top.svg') no-repeat top left;
  background-size: contain;
  margin-left:-6px;
  margin-top:-10px;
}

.stopList::after {
  position:absolute;
  display:block;
  content:' ';
  width:10px;
  height:10px;
  top:100%;
  left:0;
  background: url('../images/arrow_bottom.svg') no-repeat top left;
  background-size: contain;
  margin-left:-6px;
}


.stopList ul {
  padding:0;
  margin:0;
}

.stopList li {
  list-style: none;
  padding:10px 5px;
  margin:0 0 0 12px;
  position:relative;
  font-size:0.9rem;
}
.stopList li:hover {
  font-weight:400;
}

.stopList li::before {
  position:absolute;
  display:block;
  content:' ';
  height:8px;
  width:8px;
  border-radius: 50%;
  left:0;
  top:50%;
  margin-top:-9px;
  margin-left:-22px;
  border:5px solid #000;
}

.stopList1 li::before {
  background-color: var(--orange);
}

.stopList2 li::before {
  background-color: var(--blue);
}

.stopList3 li::before {
  background-color: var(--pink);
}

/* ------------ ALERTES -----------<< */
.alertLine {
  width:calc(100% - 10px);
  margin-top:40px;
  font-size:0.9rem;
  padding:10px;
  text-align:left;
  background-color: var(--red);
}

.alertLine .titleAlert {
  font-size:1.2rem;
  font-weight: bold;
  color:rgba(0,0,0,0.7);
  margin:0;
}

.alertLine p {
  font-weight: 400;
  color:white;
}


/*-------TARIFS-SECTION 3 : THOMAS-------*/


/*  - Dark Green : rgba(57,146,110,1)
    - Green : rgba(106,210,170,1)
    - Light Green : rgba(139,234,193,1)

    --moss : rgba(106,210,170,1);
    --darkmoss : rgba(57,146,110,1);

    var(--moss)
    var(--darkmoss)
    */

.price_card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  margin: 10px;
  border: 1px solid var(--lightmoss);
  padding: 20px;
  box-sizing: border-box;
  transition: 0.3s;
}

.price_card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border: 1px solid hsla(0, 0%, 100%, 0);
}

.titre_pass {
  color:var(--darkmoss);
  font-size: 1.5rem;
  letter-spacing: 0.2rem; /* increases spacing between relative to font size */
}

.prix_pass {
  color: var(--moss);
  font-size: 6rem;
  font-weight: 500;
  margin: 20px 0;
}

.info_pass {
  color:var(--darkmoss);
}

.buy_button {
  color: var(--moss);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 20px;
  padding: 20px 60px;
  border-radius: 40px;
  border: 1px solid var(--moss);
  transition: 0.3s;
}

.buy_button:hover {
  background: var(--moss);
  color: white;
}

/*-------RESERVATIONS-SECTION 4 : JOHANNA--------*/

/* Select custom */
/* Reset Select */
#reservations select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: var(--yellow);
  background-image: none;
}
/* Remove IE arrow */
#reservations select::-ms-expand {
  display: none;
}
/* Custom Select */
#reservations .select {
  position: relative;
  display: flex;
  width: 50%;
  height: 50px;
  line-height: 3;
  background: var(--yellow);
  overflow: hidden;
  border-radius: .25em;
}
#reservations select {
  flex: 1;
  padding: 0 .5em;
  color: black;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  right: 0;
  padding: 0 1em;
  background: #fdcb6e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: white;
}
.select option{
  font-size: 2rem;
}
/* Fin select custom */


.container-resa-dropdown-tarifs select{
    padding: 4px;
    margin-left: 30px;
}

.container-resa-dropdown-tarifs{
    margin-bottom: 20px;
    padding-bottom: 0;
}

.container-resa-dropdown-tarifs label{
    margin-top: 4px;
    margin-left: 5px;
}

.container-resa-button-radio{
    margin-bottom: 20px;
    width: 100%;
}

.container-resa-button-radio div:last-child{
  margin-left: 40px;
}

.container-flex{
  display: flex;
}

.container-resa-coordonnees-nom-prenom,
.container-resa-coordonnees-mail-telephone,
.container-resa-coordonnees-content-adrPost,
.container-resa-coordonnees-codePost-ville{
    padding-bottom: 10px;
}

.container-resa-coordonnees-nom,
.container-resa-coordonnees-prenom,
.container-resa-coordonnees-mail,
.container-resa-coordonnees-telephone,
.container-resa-coordonnees-codePost,
.container-resa-coordonnees-ville{
    padding: 5px;
    width: 50%;
}

.container-resa-coordonnees-adrPost input:last-child{
    margin-top: 10px;
}

.container-resa-coordonnees-adrPost{
    width: 100%;
    padding: 0 5px 0 5px;
}

.container-resa{
    background-color: #f2f2f2;
    padding: 20px;
}

#reservations .container input{
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px #ddd;
}

#reservations label{
    font-size: .9rem;
    padding-bottom: 5px;
}

#reservations ::placeholder{
    font-style: italic;
    font-size: .8rem;
}

.container-resa-button{
    margin-left: 0;
    width: 100%;
    justify-content: flex-end;
}

.container-resa-button input[type=submit]{
    margin-right: 4px;
}

input.container-resa-coordonnees-mail-telephone:invalid,
input.container-resa-coordonnees-content-adrPost:invalid,
input.container-resa-coordonnees-codePost-ville{
  box-shadow: 0 0 2px 1px green;
}

input.container-resa-coordonnees-mail-telephone:invalid,
input.container-resa-coordonnees-content-adrPost:invalid,
input.container-resa-coordonnees-codePost-ville{
  box-shadow: 0 0 2px 1px red;
}

/*-------CONTACTS-SECTION 5 : JOHANNA-------*/

.container-contacts{
    display: flex;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 65px;
}

#contacts .container input,
#contacts .container textarea{
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px #ddd;
}

#contacts label{
    font-size: .9rem;
    padding-bottom: 5px;
}

#contacts ::placeholder{
    font-style: italic;
    font-size: .8rem;
}

.container-contacts-coordonnees-nom,
.container-contacts-coordonnees-prenom,
.container-contacts-coordonnees-mail,
.container-contacts-coordonnees-telephone,
.container-contacts-message{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}

#contacts .container textarea{
  resize: none;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 15px;
}

.container-contact-person{
  width: 100%;
}

.container-contacts-button{
  padding-top: 5px;
  margin-left: 0;
  width: 100%;
  justify-content: flex-end;
}


/*---------------FOOTER---------------*/

footer h3{
  font-family: 'Lobster';
  color: var(--blue);
}

footer .container-content-list{
  width: 90%;
  margin-left: 60px;
}

footer .container-content-list ul{
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

footer .container-content-list li{
  list-style: none;
}

footer .container-content-list li:last-child{
  width: 43%;
}

footer .container-content-list li:nth-child(2){
  width: 27%;
}

.border-footer{
  border-left: 1px solid grey;
  text-align: right;
}

footer .container-content-list a{
  text-decoration: none;
  color: grey;
}

footer .container-content-list a:hover{
  text-decoration: underline;
  color: black;
}
